@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* -------------------------------------------global styling */
.g-bodyStyling{
    background-color: #A3BFA8;
    margin: 0px;
    font-family: "Quantico";
    color: #0E1C36;
}
.g-header{
    background-color: #7286A0;
    display: flex;
    flex-direction: column;
    font-family: "Quantico";
    color: #0E1C36;
    
    .pageTitle{
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }
    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        font-size: 1.4rem;
        padding-bottom: 10px;
    }
    .pageSubTitle{
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        background-color: #CDE7B0;
    }
}
a{
    text-decoration: none;

    &:hover{
        color: #0E1C36;
        text-decoration: underline;
    }
    &:visited{
        color: #0E1C36;
    }
}

/* -------------------------------------------homepage styling*/
#p-homePageMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Quantico";

    #s-homePageSubHeading{
        font-size: 1.6rem;
        padding-left: 20px;
        padding-top: 10px;
    }
    #s-contentAndImg{
        display: flex;
        flex-direction: row;

        #homePageContent{
            font-size: 1.2rem;
            display: flex;
            padding: 20px;
        }
        #homePageImg{
            display: flex;
            padding: 20px;
        }
    }
}

/* -------------------------------------------resume page styling */
#p-resume{
    display:flex; 
    flex-direction: column;
    align-content: space-evenly;
    flex-wrap: nowrap;
    font-size: 1.2rem;

    #s-resumeContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 10px;

        .bold{
            font-weight: bold;
        }
        .emphasize{
            font-style: italic;
        }
        .resumeListTitle{
            font-size: 1.4rem;
        }
    }
    #s-resumeContactInfo{
        text-align: center;

        #contactInfoTitle{
            font-size: 1.5rem;
        }
        #contactInformation{
            font-size: 1rem;
            font-weight: 800;
        }
    }
}
/* -------------------------------------------web samples styling*/
#p-webSamplesPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    p{
        font-size: 1.5rem;
    }

    .webSampleImage{
        border-radius: 10px;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
    .webSampleText{
        max-width: 780px;
        font-size: 1.2rem;
    }
}

/* -------------------------------------------other samples styling*/
#p-otherSamplesPage{
    display: flex;
    flex-direction: column;
    align-items: center;

    .otherSampleTitle{
        font-size: 1.5rem;
    }
    .otherSampleText{
        max-width: 600px;
        font-size: 1.2rem;
    }
    .otherSampleImage{
        border-radius: 10px;
        justify-content: center;
        max-width: 100%;
        height: auto;
        
    }
}
/* -------------------------------------------media queries*/
@media screen and (max-width: 950px){
    #homePageImg{
        display: none;
    }
    #s-contentAndImg{
        display: flex;
        flex-direction: column;
    }
} 
